**1. What are data structures, and why are they important?**


Data structures are ways of organizing and storing data efficiently so that it can be accessed and modified easily. They are important because they help manage and process data effectively, enabling optimal performance in programming tasks.

**2.Explain the difference between mutable and immutable data types with examples.**

***Mutable:*** Can be changed after creation (e.g., list, dict, set)
Example: a = [1, 2]; a[0] = 5

***Immutable:*** Cannot be changed after creation (e.g., int, str, tuple)
Example: s = "hello"; s[0] = "H" → Error

**3.What are the main differences between lists and tuples in Python?**

•	Lists are mutable and use square brackets: []

•	Tuples are immutable and use parentheses: ()

•	Lists are used when data might change; tuples are used for fixed data.


**4.Describe how dictionaries store data.**

Dictionaries store data as key-value pairs using a hash table internally. Each key maps to a specific value, allowing fast lookups.


**5.Why might you use a set instead of a list in Python?**

Sets are used when you need unique elements only and faster membership tests. They automatically remove duplicates and are more efficient for checking existence.

**6.What is a string in Python, and how is it different from a list?**


A string is a sequence of characters (e.g., "hello"), and it is immutable. A list is a mutable sequence of items, which can include any data type.

**7.How do tuples ensure data integrity in Python?**

Tuples are immutable, so their content cannot be changed accidentally. This makes them reliable for storing fixed data that should not be modified.

**8.What is a hash table, and how does it relate to dictionaries in Python**

A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally to allow fast data retrieval.

**9.Can lists contain different data types in Python?**


Yes, lists can hold elements of different data types, such as [1, "hello", 3.5, True].

**10.Explain why strings are immutable in Python**.

Strings are immutable for performance and security reasons. It ensures that once created, the content cannot be altered, which is efficient for memory usage and thread safety.

**11.What advantages do dictionaries offer over lists for certain tasks?**

Dictionaries allow fast access to values using keys, making them ideal for lookup tables, mapping relationships, and storing labeled data.

**12.Describe a scenario where using a tuple would be preferable over a list**.

Use a tuple to store fixed configuration data (like coordinates (x, y)) or as dictionary keys, where immutability is needed.

**13.How do sets handle duplicate values in Python?**

Sets automatically remove duplicates. If duplicates are added, only one instance is kept.

**14.How does the “in” keyword work differently for lists and dictionaries?**

•	In lists, "in" checks if a value exists.
  3 in [1, 2, 3] → True

•	In dictionaries, "in" checks for a key.
 'name' in {'name': 'Alice'} → True

**15.Can you modify the elements of a tuple? Explain why or why not.**

No, tuples are immutable, meaning their elements cannot be changed after creation.

**16.What is a nested dictionary, and give an example of its use case.**

A nested dictionary is a dictionary within another dictionary.

Example:
students = {
  "Alice": {"math": 85, "science": 90},

  "Bob": {"math": 78, "science": 82}
}

**17.Describe the time complexity of accessing elements in a dictionary**.

Accessing elements by key in a dictionary is O(1) on average due to the use of a hash table.

**18.In what situations are lists preferred over dictionaries?**


Lists are better when you need ordered data, duplicates, or need to iterate by index.

**19.Why are dictionaries considered unordered, and how does that affect data retrieval?**

Prior to Python 3.7, dictionaries did not maintain insertion order. While modern Python retains order, dictionary keys are still accessed by key, not position.

**20.Explain the difference between a list and a dictionary in terms of data retrieval.**

•	Lists use numeric indices: list[0]

•	Dictionaries use keys: dict["name"]

Dictionaries provide faster lookups when accessing data by unique identifiers.

**1.Create a string with your name and print it**

In [1]:
name = "Lilima"
print(name)

Lilima

**2.Find the length of the string "Hello World"**

In [2]:
text = "Hello World"
print(len(text))

11

**3.Slice the first 3 characters from the string "Python Programming"**

In [3]:
string = "Python Programming"
print(string[:3])

Pyt

**4.Convert the string "hello" to uppercase**

In [4]:
word = "hello"
print(word.upper())

HELLO

**5.Replace the word "apple" with "orange" in the string "I like apple"**

In [5]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

**6.Create a list with numbers 1 to 5 and print it**

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

**7.Append the number 10 to the list [1, 2, 3, 4]**

In [7]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

**8.Remove the number 3 from the list [1, 2, 3, 4, 5]**

In [8]:
lst2 = [1, 2, 3, 4, 5]
lst2.remove(3)
print(lst2)

[1, 2, 4, 5]

**9.Access the second element in the list ['a', 'b', 'c', 'd']**

In [9]:
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

**10.Reverse the list [10, 20, 30, 40, 50]**

In [10]:
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

**11.Create a tuple with the elements 100, 200, 300 and print it**

In [11]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

**12.Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')**

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

**13.Find the minimum number in the tuple (10, 20, 5, 15)**

In [13]:
t = (10, 20, 5, 15)
print(min(t))

5

**14.Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')**

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

**15.Create a tuple containing three different fruits and check if "kiwi" is in it**

In [15]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

**16.Create a set with the elements 'a', 'b', 'c' and print it**

In [16]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

**17.Clear all elements from the set {1, 2, 3, 4, 5}**

In [17]:
s1 = {1, 2, 3, 4, 5}
s1.clear()
print(s1)

set()

**18.Remove the element 4 from the set {1, 2, 3, 4}**

In [18]:
s2 = {1, 2, 3, 4}
s2.remove(4)
print(s2)

{1, 2, 3}

**19.Find the union of two sets {1, 2, 3} and {3, 4, 5}**

In [19]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

**20.Find the intersection of two sets {1, 2, 3} and {2, 3, 4}**

In [20]:
x = {1, 2, 3}
y = {2, 3, 4}
print(x.intersection(y))

{2, 3}

**21.Create a dictionary with the keys "name", "age", and "city", and print it**

In [21]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

**22.Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}**

In [22]:
person2 = {'name': 'John', 'age': 25}
person2["country"] = "USA"
print(person2)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23.Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}**

In [24]:
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

**24.Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}**

In [25]:
d2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d2["age"]
print(d2)

{'name': 'Bob', 'city': 'New York'}

**25.Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}**

In [26]:
d3 = {'name': 'Alice', 'city': 'Paris'}
print("city" in d3)

True

**26.Create a list, a tuple, and a dictionary, and print them all**

In [27]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

**27.Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result**

In [28]:
import random
rand_nums = random.sample(range(1, 101), 5)
rand_nums.sort()
print(rand_nums)

[5, 38, 67, 75, 90]

**28.Create a list with strings and print the element at the third index**

In [29]:
str_list = ["apple", "banana", "cherry", "date", "fig"]
print(str_list[3])

date

**29.Combine two dictionaries into one and print the result**

In [30]:
dict1 = {"name": "Alice"}
dict2 = {"age": 30}
combined = {**dict1, **dict2}
print(combined)

{'name': 'Alice', 'age': 30}

**30.Convert a list of strings into a set**

In [31]:
strs = ["apple", "banana", "apple", "orange"]
str_set = set(strs)
print(str_set)

{'orange', 'apple', 'banana'}